*{
margin: 0;
padding: 0;
} 
form{
    display: flex;
    align-items: center;        
    background-color: #f0f0f0; 
    font-family: verdana;
    justify-content: center;
}

h2{
    color: #943230;
}
#titulo{
    font-family: sans-serif;
    color:#943230;
    margin-left: 7%;
    justify-content: center;
    text-align: center;
}

#subtitulo{
    font-family: sans-serif;
    color: #943230;
    margin-left: 10%;
    text-align: center;
}

#fieldset{
    border: 0;
}
 section{
    background-color: #d3d3d3;
    font-family: sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

form input, form textarea{
    outline: unset;
    padding: 20px;
    width: 300px;
    border: 1px solid #808080;
    border-radius: 20px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #808080;
    display: block;
}

fieldset.grupo .campo{
float: left;
margin-right: 1em;
}

.campo input [type="text"], .campo input[type="email"]{
   
    border: 1px solid #0000;
    box-shadow: 2px 2px 2px #808080;
    display: block;
}
input[type-submit]{
background-color: #d3d3d3
}

label{
    margin-left: 10px;

}

footer{
    position: 5px;
    bottom: 0;
    text-align: center;
    background-color: black;
    padding: 7px;
}
 h5{
     color:#ffff
 }